h1 {
    font-size: 50px;
}

#main-header {
    /*Header global properties*/
    height: 180px;

    /*solid background color*/
    background-color: #4ea1ff;

    /*background pattern image*/
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    background-size: 700px 350px;
    background-position: top center;
}

#main-logo img {
    width: 300px;
    margin-top: 80px;
    margin-left: 10px;
}

#journal-name {
    color: #23c1ec;
}

.text-highlight {
    background-color: #ffff0c;
}

#table-section {
    text-align: left;
}

#table-headers {
    background-color: #24a8e2;
    text-wrap: nowrap;
}

.row-background {
    background-color: #b1e6f2;
}

#related-content {
    color: #7d7d7d;
}

#footerCard-1 {
    /*Card global properties*/
    height: 180px;
    color: rgba(255, 255, 255, 0.95);

    /*Background image*/
    background-image: url("../images/monitor.jpg");
    background-repeat: no-repeat;
}

#footerCard-2 {
    /*Card global properties*/
    height: 180px;
    color: rgba(255, 255, 255, 0.95);

    /*Background image*/
    background-image: url("../images/graph.jpg");
    background-repeat: no-repeat;
}