/*Header*/
header {
    /*Global settings*/
    height: 180px;

    /*Pattern settings*/
    background-color: #4da0ff;
    background-image: url("../images/pattern.png");
    background-position: 10% top;
}

header img {
    width: 200px;
}

/*Hero Section*/
h1 {
    font-size: 50px;
}

#hero-section span {
    color: rgb(25, 205, 200);
}

/*Main Section*/
.highlight {
    background-color: yellow;
}

/*Main Table*/
#mainSection-table table{
    border-collapse: collapse;
}

#table-headers {
    background-color: dodgerblue;
    text-align: left;
    text-wrap: nowrap;
}

.row-background {
    background-color: #b1e6f2;
}

/*Footer*/
#related-content {
    color: gray;
}

.card-background {
    height: 200px;
    background-repeat: no-repeat;
    color: white;
}

#footerCard-1 {
    background-image: url("../images/monitor.jpg");
}

#footerCard-2 {
    background-image: url("../images/graph.jpg");
}