/*Header*/
#main-header {
    /*Global settings*/
    height: 180px;

    /*Pattern settings*/
    background-color: #4da0ff;
    background-image: url("../images/pattern.png");
    background-position: 10% top;
}

#logo img {
    width: 200px;
}

/*Hero Section*/
h1 {
    font-size: 50px;
}

#hero-header h2 {
    font-weight: 500;
}

#journal-name {
    color: rgb(25, 205, 200);
}

/*Main Section*/
.highlight {
    background-color: yellow;
}

#table-headers {
    background-color: dodgerblue;
    text-align: left;
    text-wrap: nowrap;
}

.row-background {
    background-color: #b1e6f2;
}

/*Footer*/
#related-content {
    color: gray;
}

#footerCard-1 {
    /*Global settings*/
    height: 200px;

    /*Background settings*/
    background-image: url("../images/monitor.jpg");
    background-repeat: no-repeat;
    color: white;
}

#footerCard-2 {
    /*Global settings*/
    height: 200px;

    /*Background settings*/
    background-image: url("../images/graph.jpg");
    background-repeat: no-repeat;
    color: white;
}